a {
  color: #dd6205;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.chat {
  .form{
    background-color: rgb(244, 244, 244);
    textarea {
      height: 70px;
      width: 90%;
      margin: 20px;
      border-radius: 5px;
    }
  }
}
.participants {
  background-color: rgb(235, 235, 235);
  padding: 15px;
  border: 1px solid rgb(180, 180, 180);
}

.messagesList {
  width: 100%;
  height: 400px;
  background-color: #fff;
  overflow-y: scroll;
  border: 1px solid rgb(180, 180, 180);
  border-top: none;
  box-sizing: border-box;
  >div{
    margin: 0 10px;
  }
  .msg{
    &.user{
      margin-bottom: .1em;
    }
    margin-bottom: 1em;
    font-size: 1.1em;
    .avatar{
      width: 40px;
      float: left;
      img {
        width: 30px;
        height: 30px;
      }

    }
    .nick {
      font-weight: bold;
      color: rgb(135, 141, 159);
      .status{
        display: inline-block;
        width: .6em;
        height: .6em;
        border-radius: .3em;
        margin-right: 5px;
        background-color: grey;
      }
      &.online {
        .status{
          background-color: green;
        }
      }
    }
    .time{
      width: 60px;
      float: right;
      color: rgb(135, 141, 159);
    }
    .text{
      width: 85%;
      padding-left: 40px;
    }
    +.msg{
      margin-top: 5px;
    }
  }
}

.contactList {
  background-color: rgb(237, 237, 237);
  div {
    line-height: 3em;
    height: 3em;
    &.current {
      background-color: rgb(174, 185, 208);
      margin: 0 -15px;
      padding: 0 15px;
    }
  }
}

.writingBar{
  height: 1.5em;
}

.chat-badge {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px #dddddd;
  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
