<h3>Chat app</h3>
<div>
    <div class="profile"></div>
    <a href="/auth/github" target="_self">Login github</a>
</div>
<ul>
    <li>
        Room name: <input type="text" id="roomname" name="room.name"/><br/>
        <button class="create">create</button>
    </li>
    <li>
        Room ID: <input type="text" id="roomId" name="roomid"/><br/>
        <button class="join">join</button>
    </li>
    <li>
        Send Message
        <textarea id="chat" placeholder="typein"></textarea>
        <button class="submit">submit</button>
    </li>
</ul>
